.jconfirm .alert {
    border-radius: 6px;
}

.jconfirm .alert .jconfirm-box {
    padding: 0px;
    border-radius: 1px;
}

.jconfirm .alert .jconfirm-box .jconfirm-title-c,
.jconfirm .alert .jconfirm-box .jconfirm-content-pane {
    padding-left: 30px;
    padding-right: 30px;
}

.jconfirm .alert .jconfirm-box .jconfirm-title-c {
    margin-top: 30px;
    padding-bottom: 0px;
}

.jconfirm .alert .jconfirm-box .jconfirm-title-c .jconfirm-title {
    font-size: 22px;
    font-weight: 600;
}

.jconfirm .alert .jconfirm-box .jconfirm-title-c .jconfirm-icon-c {
    margin-right: 15px;
}

.jconfirm .alert .jconfirm-box .jconfirm-title-c .jconfirm-icon-c i {
    width: 54px;
    height: 54px;
    line-height: 54px;
    text-align: center;
    border-radius: 50%;
    display: inline-block;
    font-size: 22px;
}

.jconfirm .alert .jconfirm-box .jconfirm-content-pane {
    max-height: none !important;
    margin-top: 20px;
    margin-bottom: 30px;
    height: auto !important;
    display: block;
}

.jconfirm .alert .jconfirm-box .jconfirm-content-pane .jconfirm-content {
    font-size: 14px;
    color: var(--greyDark);
}

.jconfirm .alert .jconfirm-box .jconfirm-buttons {
    float: none;
    text-align: right;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 30px;
    padding-left: 30px;
}

.jconfirm .alert .jconfirm-box .jconfirm-buttons .btn-default {
    color: #000000;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 5px;
}

.jconfirm .alert .jconfirm-box .jconfirm-buttons .btn-default+.btn-default {
    margin-left: 30px;
}

.jconfirm .alert .jconfirm-box .jconfirm-buttons .btn-default:first-child {
    background-color: transparent;
    padding: 0px;
    color: var(--greyDark);
}

.jconfirm .alert .jconfirm-box .jconfirm-buttons .btn-default:first-child:hover {
    background: transparent;
}

.jconfirm .alert .jconfirm-box .jconfirm-buttons .btn-default:last-child {
    min-width: 92px;
    border-radius: 0px;
    color: #ffffff;
    padding: 8px 10px;
    -webkit-transition: all linear 0.3s;
    transition: all linear 0.3s;
}

.jconfirm .delete .jconfirm-box .jconfirm-title-c .jconfirm-icon-c i {
    background-color: #FDD9D6;
    color: #F44336;
}

.jconfirm .delete .jconfirm-box .jconfirm-buttons {
    background-color: #FEECEA;
}

.jconfirm .delete .jconfirm-box .jconfirm-buttons .btn-default:last-child {
    background-color: #CD201F;
}

.jconfirm .delete .jconfirm-box .jconfirm-buttons .btn-default:last-child:hover {
    background-color: #B31C1B;
}

.jconfirm .success .jconfirm-box .jconfirm-title-c .jconfirm-icon-c i {
    background-color: #E5F3E8;
    color: #008C23;
}

.jconfirm .success .jconfirm-box .jconfirm-buttons {
    background-color: #E5F3E8;
}

.jconfirm .success .jconfirm-box .jconfirm-buttons .btn-default:last-child {
    background-color: #008C23;
}

.jconfirm .success .jconfirm-box .jconfirm-buttons .btn-default:last-child:hover {
    background-color: #00731D;
}

.jconfirm .warning .jconfirm-box .jconfirm-title-c .jconfirm-icon-c i {
    color: var(--greyDark);
    background: var(--ersb);
}

.jconfirm .warning .jconfirm-box .jconfirm-buttons {
    background-color: var(--ersb);
}

.jconfirm .warning .jconfirm-box .jconfirm-buttons .btn-default:last-child {
    background-color: var(--ersb-dark);
}

.jconfirm .warning .jconfirm-box .jconfirm-buttons .btn-default:last-child:hover {
    background-color: var(--ersb-dark);
}

.jconfirm .exists .jconfirm-box .jconfirm-title-c .jconfirm-icon-c i {
    background-color: #FDD9D6;
    color: #F44336;
}

.jconfirm .exists .jconfirm-box .jconfirm-content-pane .jconfirm-content ul {
    padding-left: 16px;
    margin-bottom: 0px;
}

.jconfirm .exists .jconfirm-box .jconfirm-content-pane .jconfirm-content ul li+li {
    margin-top: 15px;
}

.jconfirm .exists .jconfirm-box .jconfirm-buttons {
    background-color: #FEECEA;
}

.jconfirm .exists .jconfirm-box .jconfirm-buttons .btn-default:last-child {
    background-color: #CD201F;
}

.jconfirm .exists .jconfirm-box .jconfirm-buttons .btn-default:last-child:hover {
    background-color: #B31C1B;
}